* {
 margin: 0%;
 padding: 0%;
 font-family: 'Roboto', sans-serif;
 box-sizing: border-box;
 /*outline: 1px solid red;*/

}

a:link, a:visited, a {

    color: unset;
    text-decoration: none;
    background-color: none;
    
    }


/* H E A D E R */

.descuentos {
    background-color: #1CD1B0;
    text-align: left;
    width: 100%;
    position: fixed;
    z-index: 999;
    max-width: 1500px;

}


header {
    background-color: #00669F;
    /*height: 150px;*/
    width: 100%;
    text-align: left;
    box-shadow: 2px 2px 5px #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*position: relative;*/
   
}

h1 {
    text-align: left;
    /*padding-top: 30px;
    padding-left: 20px;*/
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
}



.logotitulo {
    display: flex;
    align-items: center;
    padding: 5px;
}
.logotienda {
    width: 80px;
    padding-top: 10px;
}

.menupadre {
    background-color: #001D2D;
    color: #FFF;
    font-size: 1em;
    /*position: absolute;
    bottom: 0;*/
    
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    list-style: none;
}

.menu li::before{
    content: "";
    font-family: "Font Awesome 5 Free"; 
     color: #fff;
     margin-left: 5px;;

}



/* M A I N */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    width: 100%;
    position: relative;

}

.fa-plus {
    color: #FFF;
    font-size: 2em;
 
}

.botonmas {
    background-color: #00669F;
    border-radius: 50%;
    padding: 8px;
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 0.5%;
    margin: 0;
}

.botonmas:hover {
    -webkit-transform:scale(1.5);

}



.batman, .harley, .mujer, .superman {
    background-color: #F3F3F3;
    height: 620px;
    width: 260px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #999;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin: 10px;


}

.harley:hover {
    background-color: rgb(255, 194, 225);
    transition: all 1s;
}

.harleydos img:hover + i {
    color: rgb(255, 194, 225);
    transition: all 1s;
}

.batman:hover {
    background-color: #000;
    color: #FFF;
    transition: all 1s;
}

.batmandos img:hover + i {
    color: #1900ff;
    transition: all 1s;
}

.mujer:hover {
    background-color: rgb(184, 255, 184);
    transition: all 1s;
}

.mujerdos img:hover + i {
    color: #77ff73;
    transition: all 1s;
}

.superman:hover {
    background-color: rgb(157, 217, 255);
    transition: all 1s;
}

.supermandos img:hover + i {
    color: #00ccff;
    transition: all 1s;
}

.batmandos {
    background-image: url(../IMG/bati.png);
    height: 193px;
    border-radius: 15px 15px 0 0;
    transition: all 1s;
}

.harleydos {
    background-image: url(../IMG/cardone.png);
    background-size: cover;
    height: 193px;
    border-radius: 15px 15px 0 0;

}

.supermandos {
    background-image: url(../IMG/fondosuperman.png);
    background-size: cover;
    height: 193px;
    border-radius: 15px 15px 0 0;

}

.mujerdos {
    background-image: url(../IMG/fondomujer.png);
    height: 193px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

}

.fa-heart {
    color: red;
    position: relative;
    left: 10px;
    top: 10px;
    
}

.icon {
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 30%;
    
}

.descripcion {
    display: flex;
    flex-direction: column;
    
}

h2  {
    font-size: 1.7em;
    text-align: center;
    padding-top: 20%;
}

p {
    font-size: 1em;
    padding: 20px;
}

.vermas { 
    background-color: #00669F;
    color: #FFF;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    margin-left: 30%;
    position: absolute;
    top: 90%;
}

.vermas:hover{
    background-color: #45b4f5;
    -webkit-transform:scale(1.5);
}

/* FOOTER */

footer {
    background-color: #00669F;
    width: 100%;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.git { 
    width: 100px;
    padding-right: 10px;
   
    
}

.gitpadreuno {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.gitpadredos {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

@media (max-width: 768px) {
    footer {
        font-size: 1em;
}

.batman, .harley, .mujer, .superman {
    margin-top: 30px ;
}

section {
    padding: 30px;
}

.botonmas { 
    top: 74%;
}
}

@media (max-width: 460px) {
    footer {
        font-size: 0.5em;
}

/*.fa-plus {
    font-size: 1em;
 
}

.botonmas {
    padding: 7px;
}
*/
}